@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-right">
    <h1 class="display-5">WELCOME</h1>
    <p>Learn Abou0t <a href="https://learn.microsoft.com/aspnet/core">Building Web Apps with ASP.NET Core</a>.</p>
</div>
