@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">WELCOME</h1>
    <p>Learn About <a href="https://github.com/divyeshx07/webapp.git">My GitHub Repositories</a>.</p>
</div>
